.max-width {
  max-width: 1250px;
  margin: 0 auto;
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  @extend .flex;
  justify-content: center;
}

.items-center {
  @extend .flex;
  align-items: center;
}

.flex-none {
  flex: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.font-bold {
  font-weight: bold;
}

.fond-medium {
  font-weight: medium;
}

.bg-white {
  background-color: white;
}

.box-shadow {
  transition: 0.5s all ease;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  }
}
