.max-width {
  max-width: 1350px;
  margin: 0 auto;

  @include responsive($desktop-l) {
    padding: 0 2rem;
  }
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  @extend .flex;
  justify-content: center;
}

.items-center {
  @extend .flex;
  align-items: center;
}

.flex-none {
  flex: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.font-bold {
  font-weight: bold;
}

.font-medium {
  font-weight: 400;
}

.font-normal {
  font-weight: normal;
}
.small-space {
  margin-top: 0.5rem;
}

.bg-white {
  background-color: white;
}

.box-shadow {
  transition: 0.5s all ease;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  }
}

.badge {
  @extend .font-bold;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  color: white;
}

.badge-success {
  background-color: $primary-green;
}

.section__header {
  @extend .max-width;
  padding: 1.5rem 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.card__ratings {
  display: flex;
  align-items: center;
  gap: 1rem;

  .card__ratings {
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.path-white {
        path {
          fill: white;
        }
      }
    }

    &--rating {
      flex: auto;
    }
  }
}

.vertical__divider {
  width: 0.02rem;
  background-color: #eeeeee;
  height: 100% !important;
}

.checkout__button {
  @include soft-animate;

  width: 100%;
  background-color: $primary-black;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

  path {
    fill: white;
  }

  &--text {
    font-size: 1.8rem;
    font-weight: 700;
    flex: auto;
  }
}

.back__button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.star__class {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem 0;
  &--active {
    path {
      fill: $warm-yellow;
    }
  }
  &--inactive {
    path {
      fill: #dddddd !important;
    }
  }
}

.cart__button {
  display: flex;
  gap: 2rem;
  align-items: center;

  @include soft-animate;
  position: relative;

  .badge {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }
}

.empty__state {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  svg {
    max-width: 40rem;
  }
}

.hide__mobile {
  opacity: 1;
  visibility: visible;
  @include responsive($mobile-l) {
    opacity: 0;
    visibility: hidden;
  }
}

.show__mobile {
  @include responsive($mobile-l) {
    opacity: 1;
    visibility: visible;
  }
  opacity: 0;
  visibility: hidden;
}

.bg__overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(1px);
  transition: $main-transition;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
