@mixin object-cover {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@mixin responsive($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}

@mixin soft-animate {
  transition: $main-transition;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.5rem);
  }
}

@mixin hide__responsive($screen-size) {
  opacity: 1;
  visibility: visible;
  display: block;
  @include responsive($screen-size) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@mixin show__responsive($screen-size) {
  opacity: 0;
  visibility: hidden;
  display: none;
  @include responsive($screen-size) {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
