$primary-white: #fff;

$primary-ash: #d8d8d8;
$secondary-ash: #f9f9fb;
$tertiary-ash: #7c7c7c;

//Colors
$primary-black: #000000;

$text-ash-secondary: #828282;
$text-ash-primary: #333333;
$primary-green: #65c100;
$primary-red: #ff2a1c;
$warm-yellow: #eba430;

$main-transition: 0.4s all ease-in-out;
