@keyframes slideDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  10% {
    transform: translateY(0rem);
    opacity: 100;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  10% {
    transform: translateY(0rem);
    opacity: 100;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  10% {
    transform: translateX(0rem);
    opacity: 100;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  10% {
    transform: translateX(0rem);
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.success-svg {
  width: 100px;
  height: 100px;
}

svg.success-svg path {
  animation: dash 0.75s linear both;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 210;
  }
  75% {
    stroke-dashoffset: -220;
  }
  100% {
    stroke-dashoffset: -205;
  }
}
